<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estilo.css">
    <title>CityKids</title>
</head>
<body>
    <div id="contenedor">
        <h1 class="main-title">CityKids</h1>
        <img class="imgInicio" src="../../img/ruleta.png" alt="CityKids Imagen">
        <div class="enlaces">
            <a href="#" class="botonEnlace">INICIAR PARTIDA</a>
            <a href="vModoCompetición.html" class="botonEnlace">MENU COMPETICIÓN</a>
            <a href="modoRanking.html" class="botonEnlace">VER RANKINGS</a>
        </div>
    </div>
</body>
</html>
